@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 100vh;
}
html{
  min-height: 100vh;
}
#root{
  min-height: 100vh;
  font-family: 'Mukta', sans-serif;
  font-family: 'Outfit', sans-serif;
}
.lg-svg{
  height: auto;
  width: 50%;
}